/* styles.css */

/* Basic styling */
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    margin-top: 50px;
    margin-left: 100px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 200px;
}

/* Image styling */
.button img {
    position: absolute;
    top: 0;
    left: 0; /* Start inside the button */
    opacity: 0; /* Initially transparent */
    transition: opacity 0.5s; /* Fade in transition */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Fade in effect on hover */
.button:hover img {
    opacity: 1; /* Fade in */
}

/* Text styling */
.button .text {
    font-size: 20px;
    position: relative;
    z-index: 1;
    -webkit-text-stroke: 1px black;
}

/* Hide the text when button is hovered */
.button:hover .text {
    opacity: 0;
}

/* Display new text on hover */
.button:hover .new-text {
    opacity: 1; /* Show new text */
}

/* New text styling */
.button .new-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; /* Hide new text by default */
    transition: opacity 0.3s; /* Add transition effect */
}